body {
    background: rgb(155,238,255);
    background: linear-gradient(90deg,
     rgba(155,238,255,1) 16%, rgba(22,179,255,1) 86%);
    }

form {
    border: 2px black solid;
    width: 70%;
    border-radius: 6px ;
    padding-bottom: 16px;
}


#choosefont {
    margin-right: 3px;
}



#textinput {
    border-radius: 6px;
    padding: 7px;
    background-color: #faf1e3;
}

#newtext {
    border-radius: 6px;
    width: 300px;
    /* max-width: 56%; */
    padding: 7px;
    background-color: #faf1e3;
}


.submitbuttton{
    border-radius: 8px;
    padding: 5.5px;
}
.submitbuttton:hover {
    font-size: 13px;
    background-color:rgba(7,123,178,1);
    color: white;
    
}


