body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(6, 13, 28);
    justify-content: center;
    background: rgb(77,182,255);
    background: radial-gradient(circle, rgba(77,182,255,1) 40%,
     rgba(5,108,166,1) 74%);
}





table {
    justify-content: center;
    text-align: center;
    color: rgb(29, 150, 159);
    font-family:monospace;
    font-size: 20px;
    background-color: rgb(8, 52, 52) ;
    margin: 10px;
    border: 2px rgb(29, 150, 159) solid;
}



#my-game {
    border: 3px rgb(29, 150, 159) solid; 
    border-radius: 5px;
   
}  


#my-game td {
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
    color: rgb(29, 150, 159);
    font-family:monospace;
    font-size: 20px;
    background-color: rgb(6, 15, 15) ;
    margin: 10px;
    border: 2px rgb(29, 150, 159) solid;
}

#my-game td:hover {
    cursor: pointer;
    background-color: rgb(148, 136, 136);
}

